:root {
    --white: #ffffff;
    --whitesmoke: #f5f5f5;
    --purple: #4B0082;
    --magenta: #FF00FF;
    --black: #000000;
    --gray: #C0C0C0;
    --lightblue: #87cefa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    color: var(--black);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;  
}

/* header style */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 16px;
    padding: 20px 30px 50px 30px;
}

header a {
    text-decoration: none;
    color: var(--magenta);
}

#timer p {
    color: var(--black);
}

/* main content style */
.quiz-group {
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    margin: 10px, 30px;
    width: 100%;
    padding: 5px 90px;
}

.quiz-title {
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
}

.questions {
    text-align: center;
    font-size: 25px;
    width: 50%;
    margin: 5px auto;
}

.instructions {
    padding: 10px 60px 30px 60px;
    font-size: 18px;
}

/* submit button, answer button styles */
.btn, .btn-score, .btn-list {
    padding: 5px 10px;
    border-radius: 7px;
    outline: none;
    background-color: var(--purple);
    color: var(--whitesmoke);
    font-size: 15px;
    font: bolder;
}

.btn:hover {
    background-color: var(--magenta);
}

/* answer list style */
.answer-list li {
    list-style-position: inside;
    text-align: left;
    padding: 10px 30px 10px 5px;
    margin: 10px 15px 10px 15px;
    width: 100%;
}

.answer-list ul {
    margin: 0;
}

/* show if answer is correct or wrong at bottom of the page */
.results {
    font: var(--gray);
    font-size: 15px;
    font-style: italic;
    border-top: 2px solid var(--gray);
    padding-top: 15px;
    padding-left: 0;
    margin: 20px 0px;
    text-align: left;
    width: 50%;
}

#result-display {
    font-size: 20px;
}

.result-form {
    font: 13px;
    font-weight: lighter;
    padding-top: 30px;
    text-align: left;
    line-height: 1.2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* name intial input style */
.name-input {
    border-color: var(--gray);
    border-width: 2px;
}

.name-input:hover {
    border-color: var(--lightblue);
}

.btn-score {
    display: inline-block;
    margin-left: 20px;
}

/* score chart style */
.score-list-order {
    background-color: plum;
    list-style-position: inside;
    width: 40%;
    text-align: left;
    font-size: 20px;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 10px;
}

#viewHighScore {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#viewHighScore h1 {
    padding: 10px;
    text-align: center;
}

.btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-list {
    margin: 7px;
}



/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    .questions {
        width: 70%;
    }

}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    .quiz-title {
        width: 100%;
    }

    .instructions {
        padding: 0;
        margin: 15px auto;
        font-size: 18px;
        width: 70%;
        line-height: 1.6;
    }

    .results {
        width: 80%;
    }

    .btn {
        width: 50%;
    }

    #result-display {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        line-height: 1.4;
    }

    .name-input {
        height: 30px;
    }
    
    .btn-score {
        margin-top: 15px;
        width: 70%;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    header {
        padding-bottom: 40px;
    }
    .quiz-title {
        padding-bottom: 20px;
    }
    .instructions {
        padding: 0;
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 1.8;
        width: 80%;
    }

    .btn {
        width: 80%;
    }
}